<!-- Footer Area Start -->
<div class="footer-area">
    <div class="footer-container">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-md-30px mb-lm-30px">
                        <div class="single-wedge">
                            <h4 class="footer-herading">{{ text_extra }}</h5>
                            <div class="footer-links">
                                <ul class="">
                                  <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
                                  <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
                                  <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
                                  <li><a href="{{ special }}">{{ text_special }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 mb-md-30px mb-lm-30px">
                        <div class="single-wedge">
                            {% if informations %}
                            <h4 class="footer-herading">{{ text_information }}</h4>
                            <div class="footer-links">
                                <ul>
                                    {% for information in informations %}
                                    <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 mb-sm-30px mb-lm-30px">
                        <div class="single-wedge">
                            <h4 class="footer-herading">{{ text_account }}</h4>
                            <div class="footer-links">
                                <ul class="">
                                  <li><a href="{{ account }}">{{ text_account }}</a></li>
                                  <li><a href="{{ order }}">{{ text_order }}</a></li>
                                  <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
                                  <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ">
                        <div class="single-wedge">
                            <h4 class="footer-herading">{{ text_service }}</h4>
                            <div class="footer-links">
                                <ul class="">
                                  <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                                  <li><a href="{{ return }}">{{ text_return }}</a></li>
                                  <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-paymet-warp d-flex">
                            <div class="heading-info">Payment:</div>
                            <div class="payment-way"><img class="payment-img img-responsive" src="html/assets/images/icons/payment.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-social-icon d-flex">
                            <div class="heading-info">Follow Us:</div>
                            <div class="social-icon">
                                <ul>
                                    <li class="facebook">
                                        <a href="#"><i class="ion-social-facebook"></i></a>
                                    </li>
                                    <li class="twitter">
                                        <a href="#"><i class="ion-social-twitter"></i></a>
                                    </li>
                                    <li class="google">
                                        <a href="#"><i class="ion-social-google"></i></a>
                                    </li>
                                    <li class="youtube">
                                        <a href="#"><i class="ion-social-youtube"></i></a>
                                    </li>
                                    <li class="instagram">
                                        <a href="#"><i class="ion-social-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#
        <div class="footer-tags">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tag-content">
                            <ul>
                                <li><a href="#">Online Shopping</a></li>
                                <li><a href="#">Promotions</a></li>
                                <li><a href="#">My Orders</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Most Populars</a></li>
                                <li><a href="#">New Arrivals</a></li>
                                <li><a href="#">Special Products</a></li>
                                <li><a href="#">Manufacturers</a></li>
                                <li><a href="#">Our Stores</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Payments</a></li>
                                <li><a href="#">Warantee</a></li>
                                <li><a href="#">Refunds</a></li>
                                <li><a href="#">Checkout</a></li>
                                <li><a href="#">Discount</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <p class="copy-text">Copyright © <a href="https://hasthemes.com/"> HasThemes</a>. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
        #}
    </div>
</div>
<!-- Footer Area End -->
{# 
<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>
</footer>
#}
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="html/assets/js/vendor/vendor.min.js"></script>
<script src="html/assets/js/plugins/plugins.min.js"></script>
<script src="html/assets/js/main.js"></script>
</body></html>