<div class="slider-area slider-dots-style-3">
    <div  class="hero-slider-wrapper slider-area">
      {% for banner in banners %}
          <div class="single-slide slider-height-3  bg-img d-flex" data-bg-image="{{ banner.image }}">
              <div class="container align-self-center">
                  <div class="slider-content-1 slider-animated-1 text-left">
                      <h1 class="animated color-black">
                      {{ banner.title }}
                      </h1>
                      {#<p class="animated color-gray">DCS-934L day & night wifi camera.</p>#}
                      <a href="{{ banner.link }}" class="shop-btn animated">SHOP NOW</a>
                  </div>
              </div>
          </div>
    {% endfor %}
    </div>
</div>
{#
<div class="slideshow swiper-viewport">
  <div id="slideshow{{ module }}" class="swiper-container">
    <div class="swiper-wrapper"> {% for banner in banners %}
      <div class="swiper-slide text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
      {% endfor %} </div>
  </div>
  <div class="swiper-pagination slideshow{{ module }}"></div>
  <div class="swiper-pager">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<script type="text/javascript"><!--
$('#slideshow{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 1,
	pagination: '.slideshow{{ module }}',
	paginationClickable: true,
	nextButton: '.slideshow .swiper-button-next',
    prevButton: '.slideshow .swiper-button-prev',
    spaceBetween: 30,
	autoplay: 2500,
    autoplayDisableOnInteraction: true,
	loop: true
});
//--></script>
#}